@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font: 12pt arial;
}

div{
    background-color: skyblue;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
}